<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Tracking System</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header id="main-header">
		<div class="container">
			<h1>Job Tracking System</h1>
		</div>
    </header>
    
    <nav id="navbar">
		<div class="container">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="https://www.linkedin.com/in/anantagr/" target="_blank">Contact me</a></li>
				<li><a href="https://www.linkedin.com/messaging/thread/6705677121806827520/"target="_blank">Feedback</a></li>
				<li><a href="contactus.html"target="_blank">Help</a></li>
				<li><a href="https://github.com/anantagr/Job_Tracking_System.git"target="_blank">Github</a></li>
				<li><a href="https://www.howtogeek.com/299243/which-version-of-chrome-do-i-have/"target="_blank">ChromeVersion</a></li>
                <li><a href="https://chromedriver.chromium.org/downloads"target="_blank">Chromedriver</a></li>

            </ul>
		</div>
	</nav>

    <div class="box">
        <h2>Job Search Details</h2>
        <form action="/submit" method="POST">
            <div class="inputBox">
                <input type="text" placeholder="E.g. Data Analyst" name="linkedin_job_title" required="">
                <label>Job title</label>
            </div>

            <div class="inputBox">
                <input type="text" placeholder="E.g. Calgary or Canada" name="linkedin_job_location" required="">
                <label>Job Location</label>
            </div>

            <div class="inputBox">
                <input type="text" placeholder="E.g. C:\Users\Downloads" name="path" required="">
                <label>Chromedriver folder path</label>
            </div>
            
            <input type="submit" name="" value="Submit">
            <input type="reset" value="Clear" onclick="return confirm('Continue the Reset?');" />

        </form>
    </div>
    <footer id="main-footer">
		<p>Copyright &copy; Anant Agarwal</p>
	</footer>
</body>
</html>
